@import url('https://fonts.google.com/specimen/Outfit');

* {
    margin: 0;
    padding: 0;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light_gray: hsl(212, 45%, 89%);
    --grayish_blue: hsl(220, 15%, 55%);
    --dark_blue: hsl(218, 44%, 22%);
    --card-width: min(60vw, 300px);
}

body {
    background: var(--light_gray);
    color: var(--dark_blue);
    font-size: calc(1rem + .5vw);
    font-family: Outfit;
    font-weight: 400;
}

main {
    display: grid;
    align-items: center;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

.card-container {
    background-color: var(--white);
    width: calc(var(--card-width) + 30px);
    padding: .5em;
    border-radius: 1em;
}

.card {
    text-align: center;
    min-width: var(--card-width);
}

img {
    max-width: 100%;
    border-radius: 1em;
}

h3, p {
    margin-block: 1em;
}

a {
    color: var(--grayish_blue);
    text-decoration: none;
    transition: .3s ease-in-out;
}

a:hover {
    color: hsl(240, 55%, 58%);
    letter-spacing: .02em;
    font-size: calc(1rem + .65vw);
}


/* MEDIA QUERY FOR TABLET SCREENS UP TO LAPTOP SCREEENS */


@media(min-width:768px) {
    body {
        font-size: calc(1rem + .5vw);
    }

    h3, p {
        margin-block: .5em;
    }

}

/* MEDIA QUERY FOR VERY WIDE SCREENS */


@media(min-width:2500px) {

    :root {
        --other-card-width: 1000px
    }

    body {
        font-size: calc(1rem + 1vw);
    }

    .card {
        min-width: var(--other-card-width);
        padding-top: .5em;
    }
    
    .card-container {
        width: calc(var(--other-card-width) + 60px);
    }

    img {
        width: 90%;
    }

    h3, p {
        margin-block: 1em;
    }

}
